# Terraform
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
*.tfstate
*.tfstate.*
tfplan
*.tfplan
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

details.txt
Linux-1.pem
30-Day-DevOps-Challenge.pdf